<h1>Eat-Da-Burger!</h1>

<div id='notDevoured'>
    <ol>
        {{#each burger}}
            {{#unless devoured}}
                <li>
                    <p>{{this.burger_name}}</p>
                    <button data-id="{{this.id}}" class="eatBurger" data-devoured="{{this.devoured}}">Devour this</button>
                </li>
            {{/unless}}
        {{/each}}
    </ol>
    <form>
        <div class="form-group">
            <input type="text" id="burgerInput" name="name">
        </div>
        <button type="submit">Add a boiga that ya wanna EAT</button>
    </form>
</div>

<div id='devoured'>
    <h2>Devoured Boigas!</h2>
    <ul>
        {{#each burger}}
            {{#if devoured}}
            <li>
                <p>{{this.burger_name}}</p>
            </li>
            {{/if}}
        {{/each}}
    </ul>
</div>