<h1>Eat-Da-Burger!</h1>

<ul>
    {{#each burger}}
    <li>
        <p><span class="label">ID:</span> {{this.id}}</p>
        <p><span class="label">Name:</span> {{this.burger_name}}</p>
        <button data-id="{{this.id}}" class="eatBurger" data-devoured="{{this.devoured}}">Devour this bad boy</button>
    </li>
    {{/each}}
</ul>

<form>
    <div class="form-group">
        <input type="text" id="burgerInput" name="name">
    </div>
    <button type="submit">Add a boiga that ya wanna EAT</button>
</form>