body {
    background-color: #377c34;
    margin-top: 60px;
    font-family: sans-serif;
}

ol li {
    margin: 10px;
}

.beerList {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px;
}

ol {
    margin-left: 50px
}

ul {
    padding: 0;
    list-style: none;
}

h2 {
    margin-bottom: 30px;
    margin-top: 10px;
}