<div class="row">
    <li class="col-md-12">
        <p>{{this.burger_name}}</p>
        <button class="btn btn-success" data-id="{{this.id}}" class="eatBurger" data-newDevoured="{{this.devoured}}">Pop the bottle!</button>
    </li>
</div>